@model NorthWind_MVC.Models.HomeViewModel 
@{
    ViewBag.Title = "Insert";


}

<h2>Insert</h2>

<form>

    @foreach (var x in Model.HomeH)
    {
        <div>@x.xUserName</div>
        <div>@x.xPhone</div>
    }

    @*<div>
        <div class="col-lg-3">@Model.xUserName </div>
        <div class="col-lg-3">@Model.xPhone</div>
    </div>*@
</form>

