@model NorthWind_MVC.Models.HomeViewModel
@{
    ViewBag.Title = "Insert";
    List<NorthWind_MVC.Models.HomeViewModel> HomeModel = new List<NorthWind_MVC.Models.HomeViewModel>();

}

<h2>Insert</h2>

<form>



    @using (Html.BeginForm("GetUserAndPhone", "Home", FormMethod.Post))
    {
        foreach (var x in ViewBag.GetUserAndPhone)
        {
            <div>@x.xUserName</div>
            <div>@x.xPhone</div>
        }
    }
    @*<div>
            <div class="col-lg-3">@Model.xUserName </div>
            <div class="col-lg-3">@Model.xPhone</div>
        </div>*@
</form>

